<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Code Snippet</title>
  </head>
  <body>
<form class="" action="/" method="post">
<input type="text" name="title" placeholder="Title">
<input type="textarea" name="code" placeholder="write your code here">
<input type="textarea" name="notes" placeholder="Your notes here">
<input type="dropdown" name="language" placeholder="language used">
<input type="textarea" name="tags" placeholder="tags">
</form>
  </body>
</html>
