<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <h1> Sign Up Here: </h1>
<form action="/registration" method="post">
<p style="color:red;">{{passerror}} </p>
<label>Username: </label>
<input type="text" name="registrationusername" placeholder="Username">
<label>Password: </label>
<input type="password" name="registrationpassword" placeholder="password">
<label>Confirm Password: </label>
<input type="password" name="confirmpassword" placeholder="password">
<button type="submit" name="button"> Submit</button>
</form>
  </body>
</html>
